# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ======================
# MACHINE LEARNING
# ======================
*.h5
*.keras
*.pt
*.pth
*.onnx

# ======================
# DATA
# ======================
data/
*.csv
*.parquet
*.zip

# ======================
# DOCKER
# ======================
*.env
.env
docker-compose.override.yml

# ======================
# JAVA / SCALA
# ======================
target/
project/target/
*.class
*.jar
*.log

# ======================
# SBT / Bloop
# ======================
.bloop/
.metals/
target/

# ======================
# IDE
# ======================
.vscode/
.idea/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# TEMP FILES
# ======================
*.tmp
*.swp
